#panel {
  width: 250px;
  float: left;
}

#map {
  margin-left: 260px;
  height: 670px;
}

.ellipsed {
  padding-top: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  width: 224px;
  cursor: pointer;
}

.btn {
  float: left;
  padding: 1px;
  margin-left: 2px;
  cursor: default;
}

input {
  width: 249px;
  margin-bottom: 5px;
  height: 34px;
  padding: 6px;
  font-size: 16px;
  font-family: sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}